<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Patients</title>
</head>
<body>
    <!-- Form to add a new patient -->
    <h2>Patient Data</h2>
    {% if mongo_patients is not none and mongo_patients|length > 0 %}
        <table>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Hypertension</th>
                <th>Heart Disease</th>
                <th>Married</th>
                <th>Work Type</th>
                <th>Residence Type</th>
                <th>Glucose</th>
                <th>BMI</th>
                <th>Smoked</th>
                <th>Stroke</th>
            </tr>
        {% for patient in mongo_patients %}
            <tr>
                <td>{{ patient.name }}</td>
                <td>{{ patient.gender }}</td>
                <td>{{ patient.age }}</td>
                <td>{{ patient.hypertension }}</td>
                <td>{{ patient.heart_disease }}</td>
                <td>{{ patient.ever_married }}</td>
                <td>{{ patient.work_type }}</td>
                <td>{{ patient.residence_type }}</td>
                <td>{{ patient.avg_glucose_level }}</td>
                <td>{{ patient.bmi }}</td>
                <td>{{ patient.smoking_status }}</td>
                <td>{{ patient.stroke }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No data in database</p>
    {% endif %}
    <a href="{{ url_for('home') }}">Go Back to Home</a>
</body>
</html>
