<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h2>View Data </h2>
        {% if user_data is not none and user_data|length > 0 %}
            {% for patient in user_data %}
                <p>Username: {{ patient.name }}</p>
                <p>Gender: {{ patient.gender }}</p>
                <p>Age: {{ patient.age }}</p>
                <p>Hypertension: {{ patient.hypertension }}</p>
                <p>Heart Disease: {{ patient.heart_disease }}</p>
                <p>Married: {{ patient.ever_married }}</p>
                <p>Work Type: {{ patient.work_type }}</p>
                <p>Residence Type: {{ patient.residence_type }}</p>
                <p>Glucose Level: {{ patient.avg_glucose_level }}</p>
                <p>BMI: {{ patient.bmi }}</p>
                <p>Smoker: {{ patient.smoking_status }}</p>
                <p>Stroke: {{ patient.stroke }}</p>
            {% endfor %}
        <div class="mt-4">
    <!-- Delete Patient Data Button -->
             <a href="{{ url_for('delete_data') }}" class="btn btn-danger">Delete Patient Data</a>
        </div>
            {% else %}
        <div class="alert alert-warning text-center" role="alert">
        You have not submitted any data.
        </div>
            {% endif %}

        <div class="mt-4">
    <!-- Delete Account Button -->
        <a href="{{ url_for('delete_user') }}" class="btn btn-danger">Delete Account</a>
        </div>

        <div class="text-center mt-4">
    <!-- Go Back to Home Button -->
         <a href="{{ url_for('home') }}" class="btn btn-primary">Go Back to Home</a>
        </div>

</body>
</html>
